<div class="hero-unit">
  <h1>Bitsy Print Nanny 🤖</h1>

<h3>AI-powered defect & safety hazard monitor</h3>

<img class="img-polaroid" src="/plugin/print_nanny/static/img/wizard_example.jpg"/>

<h3>✨ Real-time alerts for poor adhesion, structural failure, warping, and filament "spaghetti." ✨</h3>


  <p>
    <a class="btn btn-primary btn-large">
      Create Beta Account
    </a>
  </p>

  <p>
    <a class="btn btn-secondary btn">
      I already have a token
    </a>
  </p>

@privacy policy
@terms of service
</div>

<script src="/plugin/print_nanny/static/vendor/swagger-client@3.12.0.browser.min.js"></script>
