<div class="hero-unit">
  <h1>OctoPrint Nanny</h1>

<h3>Real-time defect and safety hazard detection ✨</h3>
<p>by <a href="https://www.bitsy.ai/">leigh@bitsy.ai</a>.</p>
  <p>
    <a a href="https://print-nanny.com" class="btn btn-primary btn-large">
      Create Beta Account
    </a>
  </p>

<img class="img-polaroid" src="/plugin/print_nanny/static/img/wizard_example.jpg"/>


<form class="form">
      <fieldset>
          <legend>Connect Account</legend>

          <div class="control-group">
              <label class="control-label" for="print_nanny_settings_auth_token">Authentication Token</label>
              <div class="controls">
                  <input 
                      id="print_nanny_settings_auth_token" 
                      class="input-xxlarge"
                      data-bind="textInput: settingsViewModel.settings.plugins.print_nanny.auth_token" type="text" />
              </div>
          </div>
          <div class="alert alert-block" data-bind="css: alertClass">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
          
              <h4><span data-bind="text: alertHeader"></span></h4> 
              <span data-bind="text: alertText"></span>
          </div>
          <p>
          <button data-bind="click: testAuthTokenInput" type="submit" class="btn btn-primary btn-large">
              Test Connection
          </button>
          </p>
      </fieldset>
</form>

</div>

