<!-- hero -->
<div class="hero-unit">
    <!-- <img class="logo pull-left" src="plugin/print_nanny/static/img/logo.png" />  -->
    <h1>Bitsy Print Nanny</h1>
    <p>Real-time defect and safety hazard alerts ✨</p>

    <img class="img-polaroid" src="/plugin/print_nanny/static/img/wizard_example.jpg"/>

</div>

<form class="form">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#print_nanny_settings_basic" data-toggle="tab">{{ _('Basic Settings') }}</a></li>
        <li><a href="#print_nanny_settings_advanced" data-toggle="tab">{{ _('Advanced Setting') }}</a></li>
    </ul>


  <div class="tab-content">
    <div id="print_nanny_settings_basic" class="tab-pane active">
        <fieldset>
            <legend>Connect Account</legend>

            <div class="control-group">
                <label class="control-label" for="print_nanny_settings_auth_token">Authentication Token</label>
                <div class="controls">
                    <input 
                        id="print_nanny_settings_auth_token" 
                        class="input-xxlarge"
                        data-bind="textInput: settingsViewModel.settings.plugins.print_nanny.auth_token" type="text" />
                </div>
            </div>
            <button data-bind="click: testAuthTokenInput" type="submit" class="btn btn-primary btn-large">
                Test Connection
            </button>
            <div class="alert alert-block" data-bind="css: alertClass">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            
                <h4><span data-bind="text: alertHeader"></span></h4> 
                <span data-bind="text: alertText"></span>
            </div>
        </fieldset>
    </div>
    <div id="print_nanny_settings_advanced" class="tab-pane">
        <fieldset>
            <legend>Warning! Do not change these values...  </legend>
            <p>... unless you know what you are doing. The following settings are for development, testing, and self-hosted versions of Print Nanny.</p>
            <div class="control-group">
                <label class="control-label" for="print_nanny_settings_api_uri">Print Nanny API</label>
                <div class="controls">
                    <input id="print_nanny_settings_api_uri" data-bind="textInput: settingsViewModel.settings.plugins.print_nanny.api_uri" type="text" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="print_nanny_settings_swagger_json">Swagger Schema</label>
                <div class="controls">
                    <input id="print_nanny_settings_swagger_json" data-bind="textInput: settingsViewModel.settings.plugins.print_nanny.swagger_json" type="text" />
                </div>
            </div>

            <button data-bind="click: testAuthTokenInput" type="submit" class="btn btn-primary btn-large">
                Test Connection
            </button>
            <div class="alert alert-block" data-bind="css: alertClass">
                <p>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
            
                    <h4><span data-bind="text: alertHeader"></span></h4> 
                    <span data-bind="text: alertText"></span>
                </p>
            </div>
        </fieldset>

    </div>
  </div>
</form>

<p>
  Looking for help? <a href="https://discord.gg/YK7qnv5KjB">Join the Discord server or email support@print-nanny.com</a>
</p>