workspace.code-workspace
*.pyc
*.swp
.idea
*.iml
build
dist
*.egg*
.DS_Store
*.zip
.workspace

print_nanny/data/tflite-print3d-2020-10-23T18:00:41.136Z/*

*.workspace

.vscode

*.retry

.coverage*
coverage.xml
.benchmarks/

.venv
.octoprint
.mypy_cache