pytest>=6.2.1
black
pytest-mock
pytest-asyncio
bump2version
pytest-automock
pytest-cov
asyncmock
asynctest
pipoe
pip-tools
pytest-benchmark
pygal
mypy[reports]
types-Werkzeug
types-six
types-pytz
types-requests
types-Flask
types-setuptools
j2cli
twine
wheel
