[dash]
base_url = "http://127.0.0.1:9001"

[paths]
os_release = "{{ PRINTNANNY_OS_RELEASE }}"
events_socket = "{{ TMP_DIR }}/events.sock"
config = "{{ PRINTNANNY_CONFIG_DEV }}"
confd = "{{ PRINTNANNY_CONFD }}"

[octoprint]
base_path = "{{ OCTOPRINT_CONFIG_DIR }}"
python = "{{ OCTOPRINT_VENV_DIR }}/bin/python"

[mqtt]
private_key = "{{ TMP_DIR }}/keys/ec_private.pem"
public_key = "{{ TMP_DIR }}/keys/ec_public.pem"
ca_certs = ["{{ TMP_DIR }}/ca-certs/gtsltsr.crt"]
fingerprint = "{{ FINGERPRINT }}"
fingerprint_algorithm = "md5"
cipher = "secp256r1"

[keys]
path = "{{ PRINTNANNY_KEYS }}"
force_create = false
