name = "local"
firstboot_file = "{{ WORKSPACE }}/Local.toml"
install_dir = "{{ TMP_DIR }}/local"
data_dir = "{{ TMP_DIR }}/local/data"
runtime_dir = "{{ TMP_DIR }}/local/run"
events_socket = "{{ TMP_DIR }}/local/events.sock"

[api]
base_path = "http://{{ HOSTNAME }}:8000"

[dash]
base_url = "http://127.0.0.1:9001"

[mqtt]
private_key = "{{ TMP_DIR }}/local/keys/ec_private.pem"
public_key = "{{ TMP_DIR }}/local/keys/ec_public.pem"
ca_certs = ["{{ TMP_DIR }}/local/ca-certificates/gtsltsr.crt"]
fingerprint = "{{ FINGERPRINT }}"
fingerprint_algorithm = "md5"
cipher = "secp256r1"
