<div id="janus_webcam_settings">
    <h3>{{ _('WebRTC Settings') }}</h3>
    <form class="form-horizontal" onsubmit="return false;">
        {% include "snippets/januswebcam_janusApiUrl.jinja2" %}
        {% include "snippets/januswebcam_janusApiToken.jinja2" %}
        {% include "snippets/januswebcam_streamWebrtcIceServers.jinja2" %}
    </form>
</div>
<div>
    <hr>
    <form class="form-horizontal" onsubmit="return false;">
    {% include "januswebcam_webcam.jinja2" %}
    </form>
</div>
