<div class="alert alert-block alert-warning">    
    <h3>
        <strong>⚠️ You are not running PrintNanny OS</strong>
    </h3>

    <p>Sorry, you can't run PrintNanny on your current operating system: {{ plugin_octoprint_nanny_etc_os_release['PRETTY_NAME']}} </p>
    <h4>
        Follow the guide below to install PrintNanny OS (OctoPrint Edition). 
    </h4>
    <br>
    <a target="_blank" href="{{ plugin_octoprint_nanny_urls.getting_started_guide }}"><button class= "btn btn-primary btn-large">Getting Started Guide</button></a>
</div>