{% if plugin_octoprint_nanny_is_printnanny_os %}
<a style="display: inline-block" class="inline-block no-active" target="_blank" href="https://printnanny.ai">
<i class="fa fa-solid fa-cloud"></i> PrintNanny Cloud
</a>
<a  style="display: inline-block" target="_blank" href="#tab_plugin_octoprint_nanny" data-toggle="tab">
<i class="fa fa-solid fa-video"></i> PrintNanny Cam
</a>
{% else %}
<a style="display: inline-block" class="inline-block no-active" target="_blank" href="{{ plugin_octoprint_nanny_urls.getting_started_guide }}">
<i class="fa fa-solid fa-warning"></i> You are not running PrintNanny OS
</a>
{% endif %}