<!-- hero -->
<div class="row-fluid">
    <a href="https://print-nanny.com"><img src="/plugin/octoprint_nanny/static/img/print_nanny_logo.png"/></a>
    <h3>Real-time defect and safety monitoring ✨</h3>
    <p>Automated quality assurance alerts for anyone tired of babysitting their 3D printer.</p>

</div>


<form class="form">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#octoprint_nanny_settings_basic" data-toggle="tab">{{ _('Basic Settings') }}</a></li>
        <li><a href="#octoprint_nanny_settings_advanced" data-toggle="tab">{{ _('Advanced Setting') }}</a></li>
    </ul>


  <div class="tab-content">
    <div id="octoprint_nanny_settings_basic" class="tab-pane active">
        <fieldset>
            <legend>Connect Account</legend>

            <div class="control-group">
                <label class="control-label" for="octoprint_nanny_settings_auth_token">Authentication Token</label>
                <div class="controls">
                    <input 
                        id="octoprint_nanny_settings_auth_token" 
                        class="input-xxlarge"
                        data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.auth_token" type="text" />
                </div>
            </div>
            <button data-bind="click: testAuthTokenInput" type="submit" class="btn btn-primary btn-large">
                Test Connection
            </button>
            <div class="alert alert-block" data-bind="css: authAlertClass">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            
                <h4><span data-bind="text: authAlertHeader"></span></h4> 
                <span data-bind="text: authAlertText"></span>
            </div>
        </fieldset>
    </div>
    <div id="octoprint_nanny_settings_advanced" class="tab-pane">
        <fieldset>
            <legend>Warning! Developer settings </legend>
            <p> The following settings are used for development and self-hosted versions of Print Nanny. </p>
            <div class="control-group">
                <label class="control-label" for="octoprint_nanny_settings_api_url">API URL</label>
                <div class="controls">
                    <input id="octoprint_nanny_settings_api_url" data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.api_url" type="text" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="octoprint_nanny_settings_api_url">Websocket URL</label>
                <div class="controls">
                    <input id="octoprint_nanny_settings_api_url" data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.ws_url" type="text" />
                </div>
            </div>

            <button data-bind="click: testAuthTokenInput" type="submit" class="btn btn-primary btn-large">
                Test Connection
            </button>
            <div class="alert alert-block" data-bind="css: authAlertClass">
                <p>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
            
                    <h4><span data-bind="text: authAlertHeader"></span></h4> 
                    <span data-bind="text: authAlertText"></span>
                </p>
            </div>
        </fieldset>

    </div>
  </div>
</form>

<p>
  Looking for help? <a href="https://discord.gg/YK7qnv5KjB">Join the Discord server or email support@print-nanny.com</a>
</p>