{% if plugin_octoprint_nanny_settings.printnanny_config and plugin_octoprint_nanny_settings.printnanny_config.api %}
<script src="{{ plugin_octoprint_nanny_settings.printnanny_config.api.static_url }}vue/js/printnanny-vendor.js"></script>
<script src="{{ plugin_octoprint_nanny_settings.printnanny_config.api.static_url }}vue/js/printnanny-janusStream.js"></script>
{% endif %}
{% if plugin_octoprint_nanny_settings.printnanny_config is not none %}
<span class="video-stream-app">
    <video-stream 
        mode="local"
        device-id="{{ plugin_octoprint_nanny_settings.printnanny_config.device.id }}"
        offline-image="plugin/octoprint_nanny/static/img/sleeping.png" />
</span>
{% endif %}