<div class="alert alert-block alert-warning">    
    <h2>
        <strong>⛔ PrintNanny OS is Required</strong>
    </h2>

    <p>Failed to detect PrintNanny OS version from /etc/os-release.</p>
<pre>{{ plugin_octoprint_nanny_etc_os_release }}</pre>
    <h4>
        Please follow the guide below to install PrintNanny OS (OctoPrint Edition). 
    </h4>
    <br>
    <a target="_blank" href="{{ plugin_octoprint_nanny_urls.getting_started_guide }}"><button class= "btn btn-primary btn-large">Getting Started Guide</button></a>
</div>