
<a href="https://print-nanny.com"><img src="/plugin/octoprint_nanny/static/img/print_nanny_logo.png"/></a>
<h3>Real-time defect and safety monitoring ✨</h3>
<p>Automated quality assurance alerts for anyone tired of babysitting their 3D printer.</p>


<form class="form">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#print_nanny_wizard_basic" data-toggle="tab">{{ _('Basic Settings') }}</a></li>
        <li><a href="#print_nanny_wizard_advanced" data-toggle="tab">{{ _('Advanced Setting') }}</a></li>
    </ul>

  <div class="tab-content">
    <div id="octoprint_nanny_wizard_basic" class="tab-pane active">
      <fieldset>
          <legend>Connect Beta Account</legend>
          <p>Request <a href="https://print-nanny.com/signup">an invite to beta test</a>, or sign in if you're already on the list.</p>
          <p>
            <a href="https://print-nanny.com/signup" class="btn btn-primary btn-large">
              Request Account
            </a>

            <a href="https://print-nanny.com/signin" class="btn btn-secondary btn-large">
              Signin
            </a>
          </p>
          <hr>
          <p>Copy your authentication token from <a target="_blank" href="https://print-nanny.com/dashboard">https://print-nanny.com/dashboard</a>
          and paste it below.</p>
          <div class="control-group">
              <label class="control-label" for="octoprint_nanny_settings_auth_token"><strong>Authentication Token</strong></label>
              <div class="controls">
                  <input 
                      id="octoprint_nanny_settings_auth_token" 
                      class="input-xxlarge"
                      data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.auth_token" type="text" />
              </div>
          </div>
          <div class="alert alert-block" data-bind="css: alertClass">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
          
              <h4><span data-bind="text: alertHeader"></span></h4> 
              <span data-bind="text: alertText"></span>
          </div>
          <p>
          <button data-bind="click: testAuthTokenInput" type="submit" class="btn btn-primary btn-large">
              Test Connection
          </button>
            <p>
            Looking for help? <a href="https://discord.gg/YK7qnv5KjB">Join the Discord server or email support@print-nanny.com</a>
            </p>
          </p>
      </fieldset>
      </div>
    <div id="octoprint_nanny_wizard_advanced" class="tab-pane">
        <fieldset>
            <legend>Warning! Advanced Settings </legend>
            <p>The following settings are for development, testing, and "on-prem" installations of Print Nanny.</p>
            <div class="control-group">
                <label class="control-label" for="octoprint_nanny_settings_api_uri">Print Nanny API</label>
                <div class="controls">
                    <input class="input-xxlarge" id="octoprint_nanny_settings_api_uri" data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.api_uri" type="text" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="octoprint_nanny_settings_api_uri">Websocket URL</label>
                <div class="controls">
                    <input id="octoprint_nanny_settings_api_uri" data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.ws_url" type="text" />
                </div>
            </div>

            <div class="alert alert-block" data-bind="css: alertClass">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            
                <h4><span data-bind="text: alertHeader"></span></h4> 
                <span data-bind="text: alertText"></span>
            </div>
            <p>
            <button data-bind="click: testAuthTokenInput" type="submit" class="btn btn-primary btn-large">
                Test Connection
            </button>
            </p>
        </fieldset>
    </div>

  </div>
</form>
