<a href="#tab_plugin_octoprint_nanny" data-toggle="tab">
<i class="fa fa-circle-notch fa-spin" data-bind="visible: statusCheckActive()">
</i> 
<span data-bind="visible: statusCheckActive()"> 
Checking your connection to</span>
<i class="fa fa-check" data-bind="visible: statusCheckSuccess()">
</i> 
<span data-bind="visible: statusCheckSuccess()"> 
Connected to </span>
<i class="fa fa-exclamation-triangle" data-bind="visible: statusCheckFailed()">
</i> 
<span data-bind="visible: statusCheckFailed()"> 
Failed to reach </span>
Print Nanny</a>