<h2>Login</h2>
<p>Request <a href="https://print-nanny.com/request-invite/" target="_blank">an invite to beta test</a>, or sign in if you're already on the list. 😎</p>
<p>
    <a target="_blank" href="https://print-nanny.com/request-invite/" class="btn btn-large btn-primary">
    Request Account
    </a>

    <a target="_blank" href="https://www.print-nanny.com/accounts/login/" class="btn btn-secondary btn-large">
    Login
    </a>
</p>