<!-- hero -->
<div class="row-fluid">
    <a href="https://print-nanny.com"><img src="/plugin/octoprint_nanny/static/img/print_nanny_logo.png"/></a>
    <h3>Real-time defect and safety monitoring ✨</h3>
    <p>Automated alerts for anyone tired of babysitting their 3D printer.</p>
    <p><a href="https://discord.gg/YK7qnv5KjB">Join the Discord server </a> or email support@print-nanny.com to report issues.</p>

</div>
<form class="form">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#{{template_name}}_basic" data-toggle="tab">{{ _('Basic Settings') }}</a></li>
        <li><a href="#{{template_name}}_advanced" data-toggle="tab">{{ _('Advanced Setting') }}</a></li>
    </ul>

  <div class="tab-content">
    <div id="{{template_name}}_basic" class="tab-pane active">
      <fieldset>
          {% if plugin_octoprint_nanny_settings.auth_valid == True %}
          {% else %}

            <div>          
                <h3>Login</h3>
                <p>Request <a href="https://print-nanny.com/request-invite/" target="_blank">an invite to beta test</a>, or sign in if you're already on the list. 😎</p>
                <p>
                    <a target="_blank" href="https://print-nanny.com/request-invite/" class="btn btn-large btn-primary">
                    Request Account
                    </a>

                    <a target="_blank" href="https://www.print-nanny.com/accounts/login/" class="btn btn-secondary btn-large">
                    Login
                    </a>
                </p>
            <hr>
            <h3>Link Accounts</h3>

                <p>Copy your authentication token from <a target="_blank" href="https://print-nanny.com/dashboard">https://print-nanny.com/dashboard</a>
                and paste it below.</p>
                <div class="control-group">
                    <label class="control-label" for="octoprint_nanny_settings_auth_token_basic"><strong>Authentication Token</strong></label>
                    <div class="controls">
                        <input 
                            id="octoprint_nanny_settings_auth_token_basic" 
                            class="input-xxlarge"
                            data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.auth_token" type="text" />
                    </div>
                </div>
                <div class="alert alert-block" data-bind="css: authAlertClass">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                
                    <h4><span data-bind="text: authAlertHeader"></span></h4> 
                    <span data-bind="text: authAlertText"></span>
                </div>

                <button data-bind="click: testAuthTokenInput" type="submit" class="btn btn-primary btn-large">
                    Test Connection
                </button>
            </div>
        <hr>

        {% endif %}
            
        {% if plugin_octoprint_nanny_settings.device_registered == True %}
            <div>        
                <h3>Device Info</h3>
                <div class="control-group">
                    <label class="control-label" for="octoprint_nanny_settings_device_name"><strong>Name</strong></label>
                    <div class="controls">
                        <input 
                            id="octoprint_nanny_settings_device_name" 
                            class="input-xxlarge"
                            data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.device_name" type="text" />
                    </div>
                    <label class="control-label" for="octoprint_nanny_settings_device_fingerprint"><strong>Fingerprint</strong></label>
                    <div class="controls">
                        <input 
                            readonly
                            id="octoprint_nanny_settings_device_fingerprint" 
                            class="input-xxlarge"
                            data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.device_fingerprint" type="text" />
                    </div>
                    <label class="control-label" for="octoprint_nanny_settings_device_url"><strong>Dashboard</strong></label>
                    <div class="controls">
                        <input 
                            readonly
                            id="octoprint_nanny_settings_device_urlt" 
                            class="input-xxlarge"
                            data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.device_url" type="text" />
                    </div>
                </div>
                <div class="alert alert-block" data-bind="css: existingDeviceAlertClass">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                
                    <h4><span data-bind="text: existingDeviceAlertHeader"></span></h4> 
                    <span data-bind="text: existingDeviceAlertText"></span>
                </div>
                <button 
                data-bind="{click: registerDevice, enable: settingsViewModel.settings.plugins.octoprint_nanny.auth_valid }" 
                type="submit" 
                class="btn btn-primary btn-large">
                Refresh Registration
                </button>
                <div class="progress progress-striped active" data-bind="visible: deviceRegisterProgressPercent() !== undefined">
                    <div class="bar" data-bind="style: {width: deviceRegisterProgressPercent }"></div>
                </div> 
            </div>

        {% else %}
        <div>            
            <h3>Device Registration</h3>
            <div class="control-group">
                <label class="control-label" for="octoprint_nanny_settings_device_name"><strong>Give this OctoPrint device a name:</strong></label>
                <div class="controls">
                    <input 
                        id="octoprint_nanny_settings_device_name" 
                        class="input-xxlarge"
                        data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.device_name" 
                        type="text" />
                </div>
            </div>
            <div class="alert alert-block" data-bind="css: deviceAlertClass">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            
                <h4><span data-bind="text: deviceAlertHeader"></span></h4> 
                <span data-bind="text: deviceAlertText"></span>
            </div>

            <button 
                data-bind="{click: registerDevice, enable: settingsViewModel.settings.plugins.octoprint_nanny.auth_valid }" 
                type="submit" 
                class="btn btn-primary btn-large">
                Start Registration
            </button>
            <div class="progress progress-striped active" data-bind="visible: deviceRegisterProgressPercent() !== undefined">
                <div class="bar" data-bind="style: {width: deviceRegisterProgressPercent }"></div>
            </div>  
        </div>

        {% endif %}

        <hr>

        <div>
            <h3>Monitoring Settings</h3>
            <div class="control-group">
                <h4><label class="control-label" for="octoprint_nanny_settings_monitoring_mode"><strong>Start Automatically</strong></label></h4>
                <p>
                    Start Print Nanny monitoring when a print job begins.
                </p>
                <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" class="toggle-check-input" data-bind="checked: settingsViewModel.settings.plugins.octoprint_nanny.auto_start"  />
                            <span class="toggle-check-text"></span>
                        </label>      
                </div>
            </div>
    
            <div class="control-group">
               <h4><label class="control-label" for="octoprint_nanny_settings_monitoring_mode"><strong>Monitoring Mode</strong></label></h4>
               <div class="controls">
                    <label class="radio">
                        <input type="radio" name="monitoringMode" value="active_learning" data-bind="checked: settingsViewModel.settings.plugins.octoprint_nanny.monitoring_mode"> 
                        <strong>{{ _('Active Learning') }}</strong> {{ _(' - camera data is uploaded to continuously improve Print Nanny') }}
                    </label>
                    <label class="radio">
                        <input type="radio" name="monitoringMode" value="lite" data-bind="checked: settingsViewModel.settings.plugins.octoprint_nanny.monitoring_mode"> 
                        <strong>{{ _('Lite') }}</strong>  {{ _(' - automatically apply a discount to your next billing cycle') }}
                    </label>
               </div>
            </div>

            <div class="control-group" data-bind="visible: settingsViewModel.settings.plugins.octoprint_nanny.monitoring_mode() == 'lite'">
                <h4><label class="control-label" for="octoprint_nanny_settings_monitoring_mode"><strong>Upload Camera Stream</strong></label></h4>
                <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" class="toggle-check-input" data-bind="checked: settingsViewModel.settings.plugins.octoprint_nanny.webcam_upload"  />
                            <span class="toggle-check-text"></span>
                        </label>      
                </div>
                <p>
                    <strong>Enabled</strong> - watch your camera stream from <a href="https://www.print-nanny.com/dashboard/" target="_blank">Print Nanny's dashboard.</a>
                </p>
                <p>
                    <strong>Disabled</strong> - camera stream is private, visible only from OctoPrint. 
                </p>
                <hr>
                <p>
                    <strong>Active Learning</strong> uploads your image data to the cloud, to contintuously re-train Print Nanny's AI. In this mode, computations are performed in the cloud (instead of on your OctoPrint Device). 
                </p>
                <p>
                    Enable Active Learning to free up resources on your OctoPrint device or imporove Print Nanny's results for your specific setup.
                </p>
                <p>
                    Camera sharing is required in this mode. Notifications may experience up to a 10 minute delay
                </p>
                <hr>
                <p>
                    <strong>Lite</strong> mode could also be called "privacy"  or "bandwidth saver" mode. Computations are performed on device, resulting in a closed feedback loop between your Raspberry Pi and your 3D Printer. 
                </p>
                <p>
                    Activate this mode to save bandwidth and catch failures in real-time. 
                    
                    You can toggle camera sharing on or off in this mode, to watch Print Nanny's monitoring stream from anywhere. 
                </p>
            </div>
            
        </div>

        <hr>
        <div>
            <h3>Test Webcam</h3>
            <p>Enter your webcam's <strong>snapshot url</strong> below. </p>
            <div class="control-group">
               <label class="control-label" for="octoprint_nanny_settings_snapshot_url"><strong>Snapshot URL</strong></label>
               <div class="controls">
                   <input 
                       id="octoprint_nanny_settings_auth_token" 
                       class="input-xxlarge"
                       data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.snapshot_url" type="text" />
               </div>
           </div>
           <button data-bind="{click: testSnapshotUrl }" type="submit" class="btn btn-primary btn-large">
               Capture Snapshot
           </button>
           <p>If the image below is broken after you click the Capture Snapshot button, double-check your snapshot url.</p>
           <img id="tab_plugin_octoprint_nanny_preview" data-bind="attr: { src: imageData }, visible: imageData() !== undefined"/>
   

        </div>

      </fieldset>
      </div>
    <div id="{{template_name}}_advanced" class="tab-pane">
        <fieldset>
            <legend>Warning! Advanced Settings </legend>
            <p>The following settings are for advanced configurations or Print Nanny developers. </p>

            <div class="control-group">
                <label class="control-label" for="octoprint_nanny_settings_monitoring_frames_per_minute">
                    <h3>Monitoring Frames per Minute </h3>
                    <p>Drag the slider to adjust the current value: <strong><span data-bind="text: settingsViewModel.settings.plugins.octoprint_nanny.monitoring_frames_per_minute"></strong></p>
                </label>
                <div class="controls">
                    <input 
                    class="input-xxlarge" 
                    id="octoprint_nanny_settings_monitoring_frames_per_minute" 
                    type="range"
                    min="1"
                    max="60"
                    data-bind="value: settingsViewModel.settings.plugins.octoprint_nanny.monitoring_frames_per_minute" type="text" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="octoprint_nanny_settings_api_url"><h3>Print Nanny API</h3></label>
                
                <div class="controls">
                    <input 
                    class="input-xxlarge" 
                    id="octoprint_nanny_settings_api_url" 
                    data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.api_url" type="text" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="octoprint_nanny_settings_ws_url"><h3>Websocket URL</h3></label>
                <div class="controls">
                    <input id="octoprint_nanny_settings_ws_url" 
                    data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.ws_url" type="text" />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="octoprint_nanny_settings_mqtt_bridge_hostname"><h3>MQTT Bridge Host</h3></label>
                <div class="controls">
                    <input id="octoprint_nanny_settings_mqtt_bridge_hostname" 
                    data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.mqtt_bridge_hostname" type="text" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="octoprint_nanny_settings_mqtt_bridge_port"><h3>MQTT Bridge Port</h3></label>
                <p>Valid ports are <strong>8883</strong> and <strong>443</strong>.</p>
                <div class="controls">
                    <input id="octoprint_nanny_settings_mqtt_bridge_port" 
                    data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.mqtt_bridge_port" type="text" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="octoprint_nanny_settings_mqtt_bridge_root_certificate_url"><h3>MQTT Bridge Certificates</h3></label>
                <div class="controls">
                    <input id="octoprint_nanny_settings_mqtt_bridge_certificate_url" 
                    data-bind="textInput: settingsViewModel.settings.plugins.octoprint_nanny.mqtt_bridge_root_certificate_url" type="text" />
                </div>
            </div>


            <div class="alert alert-block" data-bind="css: authAlertClass">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            
                <h4><span data-bind="text: authAlertHeader"></span></h4> 
                <span data-bind="text: authAlertText"></span>
            </div>
            <button data-bind="click: saveAdvancedSettings" type="submit" class="btn btn-primary btn-large">
                Save Advanced Settings
            </button>

        </fieldset>
    </div>

  </div>
</form>
