# coding: utf-8

"""

    No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)  # noqa: E501

    The version of the OpenAPI document: 0.0.0
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from print_nanny_client.api_client import ApiClient, Endpoint
from print_nanny_client.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from print_nanny_client.model.predict_event import PredictEvent


class EventsApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

        def __events_predict_create(
            self,
            event_data,
            dt,
            original_image,
            annotated_image,
            plugin_version,
            octoprint_version,
            **kwargs
        ):
            """events_predict_create  # noqa: E501

            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.events_predict_create(event_data, dt, original_image, annotated_image, plugin_version, octoprint_version, async_req=True)
            >>> result = thread.get()

            Args:
                event_data (str):
                dt (datetime):
                original_image (file_type):
                annotated_image (file_type):
                plugin_version (str):
                octoprint_version (str):

            Keyword Args:
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                PredictEvent
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            kwargs['event_data'] = \
                event_data
            kwargs['dt'] = \
                dt
            kwargs['original_image'] = \
                original_image
            kwargs['annotated_image'] = \
                annotated_image
            kwargs['plugin_version'] = \
                plugin_version
            kwargs['octoprint_version'] = \
                octoprint_version
            return self.call_with_http_info(**kwargs)

        self.events_predict_create = Endpoint(
            settings={
                'response_type': (PredictEvent,),
                'auth': [
                    'cookieAuth',
                    'tokenAuth'
                ],
                'endpoint_path': '/api/events/predict/',
                'operation_id': 'events_predict_create',
                'http_method': 'POST',
                'servers': None,
            },
            params_map={
                'all': [
                    'event_data',
                    'dt',
                    'original_image',
                    'annotated_image',
                    'plugin_version',
                    'octoprint_version',
                ],
                'required': [
                    'event_data',
                    'dt',
                    'original_image',
                    'annotated_image',
                    'plugin_version',
                    'octoprint_version',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                    'plugin_version',
                    'octoprint_version',
                ]
            },
            root_map={
                'validations': {
                    ('plugin_version',): {
                        'max_length': 30,
                    },
                    ('octoprint_version',): {
                        'max_length': 30,
                    },
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'event_data':
                        (str,),
                    'dt':
                        (datetime,),
                    'original_image':
                        (file_type,),
                    'annotated_image':
                        (file_type,),
                    'plugin_version':
                        (str,),
                    'octoprint_version':
                        (str,),
                },
                'attribute_map': {
                    'event_data': 'event_data',
                    'dt': 'dt',
                    'original_image': 'original_image',
                    'annotated_image': 'annotated_image',
                    'plugin_version': 'plugin_version',
                    'octoprint_version': 'octoprint_version',
                },
                'location_map': {
                    'event_data': 'form',
                    'dt': 'form',
                    'original_image': 'form',
                    'annotated_image': 'form',
                    'plugin_version': 'form',
                    'octoprint_version': 'form',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [
                    'multipart/form-data',
                    'application/x-www-form-urlencoded'
                ]
            },
            api_client=api_client,
            callable=__events_predict_create
        )
